In [69]:
import pandas as pd
import random

# Biden Subreddit

In [113]:
# import dataframe
df = pd.read_excel("A1 joereddit.xlsx")

In [114]:
df

,Unnamed: 0,comments,tokenized,lemmatized,lower
0,0,FREEE AT LAST FREE AT LASTTTT THANK GOD ALM...,"['FREEE', 'AT', 'LAST', 'FREE', 'AT', 'LASTTTT...","['FREEE', 'AT', 'LAST', 'FREE', 'AT', 'LASTTTT...","['freee', 'at', 'last', 'free', 'at', 'lastttt..."
1,1,Aaaah! After 4 thousand years we're free! It's...,"['Aaaah', 'After', '4', 'thousand', 'years', '...","['Aaaah', 'After', '4', 'thousand', 'year', 'w...","['aaaah', 'after', '4', 'thousand', 'year', 'w..."
2,2,I understood that reference.,"['I', 'understood', 'that', 'reference']","['I', 'understood', 'that', 'reference']","['i', 'understood', 'that', 'reference']"
3,3,As did I,"['As', 'did', 'I']","['As', 'did', 'I']","['as', 'did', 'i']"
4,4,We are not free or safe. This victory was raz...,"['We', 'are', 'not', 'free', 'or', 'safe', 'Th...","['We', 'are', 'not', 'free', 'or', 'safe', 'Th...","['we', 'are', 'not', 'free', 'or', 'safe', 'th..."
...,...,...,...,...,...
1152,1152,Trump reddit right now be like https://youtu....,"['Trump', 'reddit', 'right', 'now', 'be', 'lik...","['Trump', 'reddit', 'right', 'now', 'be', 'lik...","['trump', 'reddit', 'right', 'now', 'be', 'lik..."
1153,1153,I think it’s deleted lmao,"['I', 'think', 'it', '’', 's', 'deleted', 'lmao']","['I', 'think', 'it', '’', 's', 'deleted', 'lmao']","['i', 'think', 'it', '’', 's', 'deleted', 'lmao']"
1154,1154,Nah I was in there a minute ago,"['Nah', 'I', 'was', 'in', 'there', 'a', 'minut...","['Nah', 'I', 'wa', 'in', 'there', 'a', 'minute...","['nah', 'i', 'wa', 'in', 'there', 'a', 'minute..."
1155,1155,[Hey Donnie](https://youtu.be/1N-4blW_8ic),"['Hey', 'Donnie', '(', 'https', '//youtu.be/1N...","['Hey', 'Donnie', '(', 'http', '//youtu.be/1N-...","['hey', 'donnie', '(', 'http', '//youtu.be/1n-..."
1156,1156,Yes I love president elect Biden this was clea...,"['Yes', 'I', 'love', 'president', 'elect', 'Bi...","['Yes', 'I', 'love', 'president', 'elect', 'Bi...","['yes', 'i', 'love', 'president', 'elect', 'bi..."

In [115]:
# only include the final, prepared, comments in the dataframe
df = df.drop('comments', axis=1)

df = df.drop('tokenized', axis=1)

df = df.drop('lemmatized', axis=1)

df = df.drop('Unnamed: 0', axis=1)

In [116]:
df

                                                  lower
0     ['freee', 'at', 'last', 'free', 'at', 'lastttt...
1     ['aaaah', 'after', '4', 'thousand', 'year', 'w...
2              ['i', 'understood', 'that', 'reference']
3                                    ['as', 'did', 'i']
4     ['we', 'are', 'not', 'free', 'or', 'safe', 'th...
...                                                 ...
1152  ['trump', 'reddit', 'right', 'now', 'be', 'lik...
1153  ['i', 'think', 'it', '’', 's', 'deleted', 'lmao']
1154  ['nah', 'i', 'wa', 'in', 'there', 'a', 'minute...
1155  ['hey', 'donnie', '(', 'http', '//youtu.be/1n-...
1156  ['yes', 'i', 'love', 'president', 'elect', 'bi...

[1157 rows x 1 columns]

In [119]:
# define a function to scramble the word order in a string
def scramble_words(text):
    words = text.split()
    random.shuffle(words)
    return ' '.join(words)

# remove the square brackets using the str.replace() method
df['lower'] = df['lower'].str.replace('[', '', regex=False).str.replace(']', '', regex=False)

# apply the function to the 'text' column and save the result back to the column
df['lower'] = df['lower'].apply(scramble_words)

In [120]:
df

                                                  lower
0     'at', 'last', 'god', 'lasttt' 'free', 'at', 'l...
1     'lead', 'the', 'earth', 'elected', 'free', 'ti...
2                'understood', 'reference' 'i', 'that',
3                                      'as', 'i' 'did',
4     'is', 'not', 'thin', 'victory', 'a', 'or', '20...
...                                                 ...
1152  '//youtu.be/tmtkediux8u' 'be', 'reddit', 'http...
1153    'think', 'i', 's', 'it', '’', 'deleted', 'lmao'
1154  'minute', 'in', 'ago' 'there', 'i', 'nah', 'a'...
1155  'http', 'hey', '//youtu.be/1n-4blw_8ic' 'donni...
1156  'clearly', 'democracy' 'biden', 'this', 'presi...

[1157 rows x 1 columns]

In [121]:
df = df.assign(tag='Biden Subreddit')

In [122]:
df = df.rename(columns={'lower': 'text'})

In [123]:
df

                                                   text              tag
0     'at', 'last', 'god', 'lasttt' 'free', 'at', 'l...  Biden Subreddit
1     'lead', 'the', 'earth', 'elected', 'free', 'ti...  Biden Subreddit
2                'understood', 'reference' 'i', 'that',  Biden Subreddit
3                                      'as', 'i' 'did',  Biden Subreddit
4     'is', 'not', 'thin', 'victory', 'a', 'or', '20...  Biden Subreddit
...                                                 ...              ...
1152  '//youtu.be/tmtkediux8u' 'be', 'reddit', 'http...  Biden Subreddit
1153    'think', 'i', 's', 'it', '’', 'deleted', 'lmao'  Biden Subreddit
1154  'minute', 'in', 'ago' 'there', 'i', 'nah', 'a'...  Biden Subreddit
1155  'http', 'hey', '//youtu.be/1n-4blw_8ic' 'donni...  Biden Subreddit
1156  'clearly', 'democracy' 'biden', 'this', 'presi...  Biden Subreddit

[1157 rows x 2 columns]

In [124]:
print(df.iloc[0])

text    'at', 'last', 'god', 'lasttt' 'free', 'at', 'l...
tag                                       Biden Subreddit
Name: 0, dtype: object

In [125]:
empty_rows = df[df['text'] == ''].index.tolist()
if i is empty_rows:
    print(empty_rows)
    
else:
    print('There are no empty rows')

There are no empty rows

In [126]:
if df['text'].apply(lambda x: isinstance(x, float)).any():
    print("At least one row is float")
else:
    print("No row is float")

No row is float

In [127]:
df.columns

Index(['text', 'tag'], dtype='object')

In [128]:
# export pure scrambled comments
df.to_csv('biden.csv', index=False)

In [129]:
# export pure scrambled comments
df.to_excel('biden.xlsx', index=False)

# Conservative Subreddit

In [130]:
# import dataframe
ef = pd.read_excel("A1 consreddit.xlsx")

In [131]:
ef

,Unnamed: 0,comments,tokenized,lemmatized,lower
0,0,"When my buddy was done voting, a girl with the...","['When', 'my', 'buddy', 'was', 'done', 'voting...","['When', 'my', 'buddy', 'wa', 'done', 'voting'...","['when', 'my', 'buddy', 'wa', 'done', 'voting'..."
1,1,That’s the definition of being a republican. L...,"['That', '’', 's', 'the', 'definition', 'of', ...","['That', '’', 's', 'the', 'definition', 'of', ...","['that', '’', 's', 'the', 'definition', 'of', ..."
2,2,Nah it’s just the definition of being a normal...,"['Nah', 'it', '’', 's', 'just', 'the', 'defini...","['Nah', 'it', '’', 's', 'just', 'the', 'defini...","['nah', 'it', '’', 's', 'just', 'the', 'defini..."
3,3,That would be really nice. One thing I have ...,"['That', 'would', 'be', 'really', 'nice', 'One...","['That', 'would', 'be', 'really', 'nice', 'One...","['that', 'would', 'be', 'really', 'nice', 'one..."
4,4,"Oh i agree, but the right currently is being p...","['Oh', 'i', 'agree', 'but', 'the', 'right', 'c...","['Oh', 'i', 'agree', 'but', 'the', 'right', 'c...","['oh', 'i', 'agree', 'but', 'the', 'right', 'c..."
...,...,...,...,...,...
3300,3300,Its not going to change,"['Its', 'not', 'going', 'to', 'change']","['Its', 'not', 'going', 'to', 'change']","['its', 'not', 'going', 'to', 'change']"
3301,3301,They just did.,"['They', 'just', 'did']","['They', 'just', 'did']","['they', 'just', 'did']"
3302,3302,Yea the people did that for them,"['Yea', 'the', 'people', 'did', 'that', 'for',...","['Yea', 'the', 'people', 'did', 'that', 'for',...","['yea', 'the', 'people', 'did', 'that', 'for',..."
3303,3303,"Doesn't matter, the Gap is wide enough in Neva...","['Does', ""n't"", 'matter', 'the', 'Gap', 'is', ...","['Does', ""n't"", 'matter', 'the', 'Gap', 'is', ...","['does', ""n't"", 'matter', 'the', 'gap', 'is', ..."
3304,3304,[deleted],['deleted'],['deleted'],['deleted']

In [132]:
# only include the final, prepared, comments in the dataframe
ef = ef.drop('comments', axis=1)

ef = ef.drop('tokenized', axis=1)

ef = ef.drop('lemmatized', axis=1)

ef = ef.drop('Unnamed: 0', axis=1)

In [133]:
ef

                                                  lower
0     ['when', 'my', 'buddy', 'wa', 'done', 'voting'...
1     ['that', '’', 's', 'the', 'definition', 'of', ...
2     ['nah', 'it', '’', 's', 'just', 'the', 'defini...
3     ['that', 'would', 'be', 'really', 'nice', 'one...
4     ['oh', 'i', 'agree', 'but', 'the', 'right', 'c...
...                                                 ...
3300            ['its', 'not', 'going', 'to', 'change']
3301                            ['they', 'just', 'did']
3302  ['yea', 'the', 'people', 'did', 'that', 'for',...
3303  ['does', "n't", 'matter', 'the', 'gap', 'is', ...
3304                                        ['deleted']

[3305 rows x 1 columns]

In [135]:
# define a function to scramble the word order in a string
def scramble_words(text):
    words = text.split()
    random.shuffle(words)
    return ' '.join(words)

# remove the square brackets using the str.replace() method
ef['lower'] = ef['lower'].str.replace('[', '', regex=False).str.replace(']', '', regex=False)

# apply the function to the 'text' column and save the result back to the column
ef['lower'] = ef['lower'].apply(scramble_words)

In [136]:
ef

                                                  lower
0     'out', 'say', 'get', 'trump', 'wa', 'people', ...
1     'the', 'of', 'on' 'go', 's', 'being', 'that', ...
2     'it', 'a', 'also', 'being', 'definition', 'a',...
3     'second', 'on', 'one', 'burn', 'two+', 'obama'...
4     'is', 'concept', 'want', 'because', 'of', 'at'...
...                                                 ...
3300              'change' 'not', 'going', 'to', 'its',
3301                              'they', 'just', 'did'
3302  'the', 'yea', 'them' 'did', 'people', 'for', '...
3303  "n't", 'this' 'voter', 'in', 'gap', 'fraud', '...
3304                                          'deleted'

[3305 rows x 1 columns]

In [137]:
ef = ef.assign(tag='Conservative Subreddit')

In [138]:
ef = ef.rename(columns={'lower': 'text'})

In [139]:
ef

,text,tag
0,"'out', 'say', 'get', 'trump', 'wa', 'people', ...",Conservative Subreddit
1,"'the', 'of', 'on' 'go', 's', 'being', 'that', ...",Conservative Subreddit
2,"'it', 'a', 'also', 'being', 'definition', 'a',...",Conservative Subreddit
3,"'second', 'on', 'one', 'burn', 'two+', 'obama'...",Conservative Subreddit
4,"'is', 'concept', 'want', 'because', 'of', 'at'...",Conservative Subreddit
...,...,...
3300,"'change' 'not', 'going', 'to', 'its',",Conservative Subreddit
3301,"'they', 'just', 'did'",Conservative Subreddit
3302,"'the', 'yea', 'them' 'did', 'people', 'for', '...",Conservative Subreddit
3303,"""n't"", 'this' 'voter', 'in', 'gap', 'fraud', '...",Conservative Subreddit
3304,'deleted',Conservative Subreddit

In [140]:
empty_rows = ef[ef['text'] == ''].index.tolist()
if i is empty_rows:
    print(empty_rows)
    
else:
    print('There are no empty rows')

There are no empty rows

In [141]:
if ef['text'].apply(lambda x: isinstance(x, float)).any():
    print("At least one row is float")
else:
    print("No row is float")

No row is float

In [142]:
ef.columns

Index(['text', 'tag'], dtype='object')

In [143]:
# export pure scrambled comments
ef.to_csv('conservative.csv', index=False)

In [144]:
# export pure scrambled comments
ef.to_excel('conservative.xlsx', index=False)

# Republican Subreddit

In [145]:
# import dataframe
ff = pd.read_excel("A1 repreddit.xlsx")

In [146]:
ff

,Unnamed: 0,comments,tokenized,lemmatized,lower
0,0,"When my buddy was done voting, a girl with the...","['When', 'my', 'buddy', 'was', 'done', 'voting...","['When', 'my', 'buddy', 'wa', 'done', 'voting'...","['when', 'my', 'buddy', 'wa', 'done', 'voting'..."
1,1,That’s the definition of being a republican. L...,"['That', '’', 's', 'the', 'definition', 'of', ...","['That', '’', 's', 'the', 'definition', 'of', ...","['that', '’', 's', 'the', 'definition', 'of', ..."
2,2,Nah it’s just the definition of being a normal...,"['Nah', 'it', '’', 's', 'just', 'the', 'defini...","['Nah', 'it', '’', 's', 'just', 'the', 'defini...","['nah', 'it', '’', 's', 'just', 'the', 'defini..."
3,3,That would be really nice. One thing I have ...,"['That', 'would', 'be', 'really', 'nice', 'One...","['That', 'would', 'be', 'really', 'nice', 'One...","['that', 'would', 'be', 'really', 'nice', 'one..."
4,4,"Oh i agree, but the right currently is being p...","['Oh', 'i', 'agree', 'but', 'the', 'right', 'c...","['Oh', 'i', 'agree', 'but', 'the', 'right', 'c...","['oh', 'i', 'agree', 'but', 'the', 'right', 'c..."
...,...,...,...,...,...
3300,3300,Its not going to change,"['Its', 'not', 'going', 'to', 'change']","['Its', 'not', 'going', 'to', 'change']","['its', 'not', 'going', 'to', 'change']"
3301,3301,They just did.,"['They', 'just', 'did']","['They', 'just', 'did']","['they', 'just', 'did']"
3302,3302,Yea the people did that for them,"['Yea', 'the', 'people', 'did', 'that', 'for',...","['Yea', 'the', 'people', 'did', 'that', 'for',...","['yea', 'the', 'people', 'did', 'that', 'for',..."
3303,3303,"Doesn't matter, the Gap is wide enough in Neva...","['Does', ""n't"", 'matter', 'the', 'Gap', 'is', ...","['Does', ""n't"", 'matter', 'the', 'Gap', 'is', ...","['does', ""n't"", 'matter', 'the', 'gap', 'is', ..."
3304,3304,[deleted],['deleted'],['deleted'],['deleted']

In [147]:
# only include the final, prepared, comments in the dataframe
ff = ff.drop('comments', axis=1)

ff = ff.drop('tokenized', axis=1)

ff = ff.drop('lemmatized', axis=1)

ff = ff.drop('Unnamed: 0', axis=1)

In [148]:
ff

                                                  lower
0     ['when', 'my', 'buddy', 'wa', 'done', 'voting'...
1     ['that', '’', 's', 'the', 'definition', 'of', ...
2     ['nah', 'it', '’', 's', 'just', 'the', 'defini...
3     ['that', 'would', 'be', 'really', 'nice', 'one...
4     ['oh', 'i', 'agree', 'but', 'the', 'right', 'c...
...                                                 ...
3300            ['its', 'not', 'going', 'to', 'change']
3301                            ['they', 'just', 'did']
3302  ['yea', 'the', 'people', 'did', 'that', 'for',...
3303  ['does', "n't", 'matter', 'the', 'gap', 'is', ...
3304                                        ['deleted']

[3305 rows x 1 columns]

In [149]:
# define a function to scramble the word order in a string
def scramble_words(text):
    words = text.split()
    random.shuffle(words)
    return ' '.join(words)

# remove the square brackets using the str.replace() method
ff['lower'] = ff['lower'].str.replace('[', '', regex=False).str.replace(']', '', regex=False)

# apply the function to the 'text' column and save the result back to the column
ff['lower'] = ff['lower'].apply(scramble_words)

In [150]:
ff

                                                  lower
0     'done', 'buddy', 'up', 'wa', 'say', 'go', 'a',...
1     'life', 'that', 'a', 'definition', 'go', 'the'...
2     'normal', 's', 'of', 'of', 'republican', 'just...
3     'all', 'it', 'spend', 'tried', 'those', 'hit',...
4     'wrong', 'someone', 'they', 'this', 'but', 'pe...
...                                                 ...
3300              'going', 'to', 'change' 'its', 'not',
3301                              'did' 'they', 'just',
3302  'people', 'for', 'them' 'did', 'that', 'the', ...
3303  'that', 'will', 'amount', 'nevada', 'voter', '...
3304                                          'deleted'

[3305 rows x 1 columns]

In [151]:
ff = ff.assign(tag='Republican Subreddit')

In [152]:
ff = ff.rename(columns={'lower': 'text'})

In [153]:
ff

                                                   text                   tag
0     'done', 'buddy', 'up', 'wa', 'say', 'go', 'a',...  Republican Subreddit
1     'life', 'that', 'a', 'definition', 'go', 'the'...  Republican Subreddit
2     'normal', 's', 'of', 'of', 'republican', 'just...  Republican Subreddit
3     'all', 'it', 'spend', 'tried', 'those', 'hit',...  Republican Subreddit
4     'wrong', 'someone', 'they', 'this', 'but', 'pe...  Republican Subreddit
...                                                 ...                   ...
3300              'going', 'to', 'change' 'its', 'not',  Republican Subreddit
3301                              'did' 'they', 'just',  Republican Subreddit
3302  'people', 'for', 'them' 'did', 'that', 'the', ...  Republican Subreddit
3303  'that', 'will', 'amount', 'nevada', 'voter', '...  Republican Subreddit
3304                                          'deleted'  Republican Subreddit

[3305 rows x 2 columns]

In [154]:
empty_rows = ff[ff['text'] == ''].index.tolist()
if i is empty_rows:
    print(empty_rows)
    
else:
    print('There are no empty rows')

There are no empty rows

In [155]:
if ff['text'].apply(lambda x: isinstance(x, float)).any():
    print("At least one row is float")
else:
    print("No row is float")

No row is float

In [156]:
ff.columns

Index(['text', 'tag'], dtype='object')

In [157]:
# export pure scrambled comments
ff.to_csv('republican.csv', index=False)

In [158]:
# export pure scrambled comments
ff.to_excel('republican.xlsx', index=False)

# Combined Subreddits

In [159]:
combined = pd.concat([df, ef, ff], axis=0)

In [160]:
combined

                                                   text                   tag
0     'at', 'last', 'god', 'lasttt' 'free', 'at', 'l...       Biden Subreddit
1     'lead', 'the', 'earth', 'elected', 'free', 'ti...       Biden Subreddit
2                'understood', 'reference' 'i', 'that',       Biden Subreddit
3                                      'as', 'i' 'did',       Biden Subreddit
4     'is', 'not', 'thin', 'victory', 'a', 'or', '20...       Biden Subreddit
...                                                 ...                   ...
3300              'going', 'to', 'change' 'its', 'not',  Republican Subreddit
3301                              'did' 'they', 'just',  Republican Subreddit
3302  'people', 'for', 'them' 'did', 'that', 'the', ...  Republican Subreddit
3303  'that', 'will', 'amount', 'nevada', 'voter', '...  Republican Subreddit
3304                                          'deleted'  Republican Subreddit

[7767 rows x 2 columns]

In [161]:
len(combined)

7767

In [162]:
combined.columns

Index(['text', 'tag'], dtype='object')

In [163]:
# export pure scrambled comments
combined.to_csv('reddit.csv', index=False)

In [164]:
# export pure scrambled comments
combined.to_excel('reddit.xlsx', index=False)